        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        html{
            scroll-behavior: smooth; /* Suaviza o scroll para âncoras */
        }          

        .header {
            position: fixed; /* Fixa a navbar no topo */
            top: 0;
            left: 0;
            width: 100%;
            z-index: 100; /* Garante que a navbar fique acima de outros elementos */
            background-color: #2196f3; /* Cor de fundo da navbar */
            display: flex;
            justify-content: space-between; /* Espaça a logo e os links */
            align-items: center;
            padding: 10px 20px; /* Ajuste o padding para evitar estouro */
            box-sizing: border-box; /* Inclui padding e borda no tamanho total */
        }

        .logo img {
            height: 50px; /* Define a altura da logo */
            width: auto; /* Mantém a proporção da imagem */
        }

        .navbar {
            display: flex;
            justify-content: flex-end; /* Alinha os links à direita */
            align-items: center;
            gap: 20px; /* Espaçamento entre os links */
        }

        .navbar a {
            text-decoration: none; 
            font-family: 'chewy';
            color: #e8f5ff; /* Define a cor dos links */
            font-size: 18px; /* Ajusta o tamanho da fonte dos links */
            font-weight: 600; /* Define o peso da fonte */
            padding: 10px 15px; /* Adiciona espaçamento interno aos links */
            border-radius: 5px; /* Adiciona bordas arredondadas */
            transition: background-color 0.3s, transform 0.2s; /* Animação suave ao passar o mouse */
        }

        .navbar a:hover {
            background-color: #1e88e5; /* Cor de fundo ao passar o mouse */
            transform: scale(1.1); /* Aumenta ligeiramente o tamanho ao passar o mouse */
            color: #fff; /* Muda a cor do texto ao passar o mouse */
        }

        .home {
            width: 100%;
            height: 100vh; /* Faz a seção ocupar toda a altura da tela */
            display: flex;
            justify-content: center; /* Centraliza horizontalmente */
            align-items: center; /* Centraliza verticalmente */
            position: relative;
            background: url('./img/fundosite.png') no-repeat center center; /* Define a imagem como fundo */
            background-size: cover; /* Faz a imagem cobrir toda a tela */
        }

        .home-img {
            display: none; /* Remove a imagem separada, já que ela está no fundo */
        }

        .home-text {
            text-align: center;
            color: #2859ad; /* Cor de fundo da navbar */
            z-index: 1; /* Garante que o texto fique acima de outros elementos */
            font-weight: 700;
            font-size: 20px;
        }

        .home-text h1 {
            font-family: 'chewy';
            font-size: 50px;
            font-weight: 700;
            margin-bottom: 20px;
            text-transform: uppercase;
        }               

        .sobre{
            background-color: #001958;
            
        }
        .sobre h1 {
            font-family: 'chewy';
            color: #ffffff; /* Cor do título da seção */
            font-weight: 500;
            text-align: center; /* Centraliza o texto */
            padding: 20px; /* Adiciona espaçamento ao redor do título */
        }

        .Sobre-text {
            font-family: 'chewy';
            text-align: center;
            color: #ffffff; /* Cor de fundo da navbar */
            z-index: 1; /* Garante que o texto fique acima de outros elementos */
            font-weight: 700;
            font-size: 20px;
            padding: 30px;
        }

        .galeria {
            text-align: center;
            padding: 20px;
            background-color: #001958; /* Cor de fundo para a galeria */
        }
        .galeria h1 {
            font-family: 'chewy';
            color: #ffffff; /* Cor do título da galeria */
            font-weight: 500;
            margin-bottom: 20px; /* Espaçamento abaixo do título */
        }

        .galeria-imagens {
            display: flex; /* Define um layout flexível */
            justify-content: center; /* Centraliza as imagens horizontalmente */
            align-items: center; /* Alinha as imagens verticalmente */
            gap: 40px; /* Espaçamento entre as imagens */
            flex-wrap: wrap; /* Permite que as imagens quebrem para a próxima linha, se necessário */
        }

        .galeria-imagens img {
            width: 400px; /* Define a largura das imagens */
            height: 200px; /* Mantém a proporção das imagens */
            border-radius: 30px; /* Adiciona bordas arredondadas */
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra leve */
        }

        .contato {
            background-color: #001958; /* Cor de fundo para a seção de contato */
            padding: 20px;
            text-align: center;
            
        }
        .contato h1 {
            font-weight: 500;
            font-family: 'chewy';
            color: #ffffff;

        }

        form {
            display: flex; /* Define um layout flexível */
            flex-direction: column; /* Alinha os itens em coluna */
            align-items: center; /* Centraliza os itens horizontalmente */
            gap: 10px; /* Espaçamento entre os itens do formulário */
            margin-top: 20px; /* Espaçamento acima do formulário */
            border: #ffffff;
            
        }

        form input{
            background-color: #2196f3;
            border-radius: 10px; /* Bordas arredondadas */
            border: none; /* Remove a borda padrão */
        }

            form textarea {
                background-color: #2196f3;
            }
             

        form button {
            background-color: #2196f3; /* Cor de fundo do botão */
            color: #ffffff; /* Cor do texto do botão */
            border: none; /* Remove a borda padrão */
            padding: 10px 20px; /* Espaçamento interno do botão */
            border-radius: 5px; /* Bordas arredondadas */
            cursor: pointer; /* Muda o cursor ao passar sobre o botão */
            font-size: 16px; /* Tamanho da fonte do botão */
            transition: background-color 0.3s, transform 0.2s; /* Animação suave ao passar o mouse */

        }

        form label {
            font-family: 'arial';
            font-size: 16px; /* Tamanho da fonte do rótulo */
            color: #fff; /* Cor do texto do rótulo */
     }

     @media screen and (max-width: 768px) {
        .header {
            flex-direction: column; /* Alinha os itens em coluna em telas menores */
            align-items: flex-start; /* Alinha os itens à esquerda */
        }

        .navbar {
            flex-direction: column; /* Alinha os links em coluna */
            gap: 10px; /* Espaçamento reduzido entre os links */
        }

        .home-text h1 {
            font-size: 30px; /* Tamanho da fonte reduzido em telas menores */
        }

        .galeria-imagens img {
            width: 100%; /* Imagens ocupam toda a largura disponível */
            height: auto; /* Mantém a proporção das imagens */
        }
        
     }
        @media screen and (max-width: 480px) {
            .header {
                padding: 10px; /* Ajusta o padding para telas menores */
            }
    
            .navbar a {
                font-size: 16px; /* Tamanho da fonte reduzido em telas menores */
                padding: 8px 12px; /* Ajusta o espaçamento interno dos links */
            }
    
            .home-text h1 {
                font-size: 25px; /* Tamanho da fonte reduzido em telas menores */
            }
        }